{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch List</h2>
    <br>
    {% for i in auction_listings %}
        {% if i.status %}
            <center>
                <br>
                <div class="card" style="width: 40rem; display: block;border: solid gray 0.1rem;">
                    <img class="card-img-top" src="{{i.image}}" alt="{{i.title}}">
                    <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color: green;">{{i.start_up_bids.bids}}$</li>
                    <li class="list-group-item">{{i.color}}</li>
                    <li class="list-group-item">{{i.Brand}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'listing' id=i.id %}" class="card-link">details</a>
                    </div>
                </div>
            </center>
            <br>
        {% endif %}
    {% endfor %}
{% endblock %}